<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>Login </strong></h3>
                <div id="forgotpassword"><a href="#">Wachtwoord vergeten?</a></div>
            </div>

            <div class="panel-body">
                <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
                    <label>Voer het door uw gebruikersnaam in</label>
                    <div style="margin-bottom: 12px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="-username" type="text"
                               class="form-control" name="username"
                               [formControl]="loginForm.controls['userName']"

                               placeholder="Gebruikersnaam">
                    </div>

                    <div class="alert alert-danger" *ngIf="loginForm.controls['userName'].touched && !loginForm.controls['userName'].valid">
                        Je moet een gebruikersnaam invullen.
                    </div>

                    <label>Voer het door u gewenste wachtwoord in</label>
                    <div style="margin-bottom: 12px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="login-password" type="password"
                               class="form-control" name="password"
                               [formControl]="loginForm.controls['passWord']"
                               placeholder="Wachtwoord">
                    </div>
                    <div class="alert alert-danger" *ngIf="loginForm.controls['passWord'].touched && !loginForm.controls['passWord'].valid">
                        Vul uw wachtwoord in.
                    </div>

                    <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid"> Log in</button>

                    <hr>

                    <div class="form-group">

                        <div id="donthaveanaccount">
                            Heeft u nog geen account?
                            <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                Hier registreren!
                            </a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
