<h1>Alarmeringen</h1>
<table id="alarmeringen-table">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Locatie</th>
            <th>Locatie</th>
            <th>Melding</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let alarmering of alarmeringen" class="alarmering">
            <td>{{alarmering.persoon.naam}}</td>
            <td>{{alarmering.locatie.adres.straat}}, {{alarmering.locatie.adres.plaats}}</td>
            <td>

              <img src="https://maps.googleapis.com/maps/api/staticmap?zoom=14&size=350x100&markers=color:red|{{alarmering.locatie.coordinaten.lat}},{{alarmering.locatie.coordinaten.long}}&key=AIzaSyAL5d7e4IMjku9fCIRBFXgTVT_WEP1CozY">
            </td>
            <td>{{alarmering.melding.bericht}}</td>
        </tr>
    </tbody>
</table>