#alarmeringen-table {
    width: 100%;
}

#alarmeringen-table thead tr {
    background-color: #f0b47f;
}

#alarmeringen-table th,
#alarmeringen-table td{
    padding: 10px 20px;
}

#alarmeringen-table tr:nth-child(even) {
    background-color: #EEEEEE;
}