#alarmeringen-table .alarmering{
    padding-top: 20px;
    padding-bottom: 20px;
}

#alarmeringen-table .alarmering:nth-child(even) {
    background-color: #f0b47f;
}

#alarmeringen-table .map {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center center;
}

#alarmeringen-table .alarmering img {
    width: 100%;
}