<nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><img src='/app/components/navbar/logo.png' height="50px" width="auto" alt="Home"/></a>
        <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed">
            <ul class="navbar-nav mr-auto">
                <li *ngFor="let link of links" class="nav-item">
                    <a routerLink = "{{link.url}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">{{link.text}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
