.nav-item a {
    color: white;
}

.nav-item a:hover{
    color: lightgrey;
}

nav.navbar > .navbar-brand {
    margin-right: 20px;
}

nav.navbar > .navbar-brand > img {
    max-height: 29px;
    margin-top: -4px;
}
